.rank-up {
    color: green;
    font-weight: bold;
    margin-left: 4px;
  }
  
  .rank-down {
    color: red;
    font-weight: bold;
    margin-left: 4px;
  }
  
  .rank-same {
    color: gray;
    font-weight: bold;
    margin-left: 4px;
  }
  
  .points-up {
    color: green;
    font-weight: 500;
  }
  
  .points-down {
    color: red;
    font-weight: 500;
  }
  